@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.logo{
    font-family: 'Leckerli One' , cursive;
    margin-left: 4%;
    margin-top: 0.4%;
    font-size: 2.5em;
}